NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=FnYhRhWkpALRFhm59FSmUeEaCRLvtQCXV2PVL5Hiz3WL
NEXT_PUBLIC_ACQ_PROGRAM_ID=BLtdqGyjYZ7H5WjqVG2EtvY4TGxVpAqd8gBE4ZvydVHg
NEXT_PUBLIC_NFTBAY_PROGRAM_ID=CCDmCxhQZCeGNP6NdB6vhAKdUECbTUtq4RK4C9zHKnYw
NEXT_PUBLIC_PLATFORM_FEE_RECIPIENT=
