NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=FnYhRhWkpALRFhm59FSmUeEaCRLvtQCXV2PVL5Hiz3WL
NEXT_PUBLIC_ACQ_PROGRAM_ID=BLtdqGyjYZ7H5WjqVG2EtvY4TGxVpAqd8gBE4ZvydVHg
NEXT_PUBLIC_PINATA_GATEWAY=https://gateway.pinata.cloud
